<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2">
        <activity

            android:name=".ValidationVendeur"

            android:exported="false" />
        <activity
            android:name=".NouvauProduit"
            android:exported="false" />
        <activity
            android:name=".ActivityVendeur"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".publication_produit"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Inscription"
            android:exported="false" />
        <activity
            android:name=".setting_client"
            android:exported="false" />
        <activity
            android:name=".account_setting_client"
            android:exported="false" />
        <activity
            android:name=".security_setting_client"
            android:exported="false" />
        <activity
            android:name=".profil_client"
            android:exported="false" />
        <activity
            android:name=".change_adress"
            android:exported="false" />
        <activity
            android:name=".edit_profil_client"
            android:exported="false" />
        <activity
            android:name=".notification_setting_client"
            android:exported="false" />
        <activity
            android:name=".essai"
            android:exported="false" />
        <activity
            android:name=".Identification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>